.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #313133;
  padding: 2rem;
  padding-top: 2.8em;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  position: relative;
  margin: 0 14px;
}

.modal-content button, 
.modal-content .button{
  background-color: #44a08d;
}

.modal-content .modal-close-button{
  background-color: #000;
}

.modal-close-button {
  position: absolute;
  padding: .2em .5em;
  margin: 0;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
